<html>
<head>
  <title>Rain | <%= title %></title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/skeleton.css" />
</head>
<body>
  <%= doc_output %>
</body>
</html>