<html>
<head>
  <title>Rain | <%= title %></title>
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/skeleton.css" />
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="three columns" style="padding: 20px 0">
        <h5>Navigation</h5>
        <% nav_parts.each do |part| %>
          <%= part %>
        <% end %>
      </div>
      <div class="nine columns" style="padding: 20px 0">
        <h2><%= title %></h2>
        <%= doc_output %>
      </div>
    </div>
  </div>
</body>
</html>